[alias]
	a = add
	aliases = !git config --get-regexp ^alias\\. | sed -e s/^alias.// -e s/\\ /\\ $(printf \"\\043\")--\\>\\ / | column -t -s $(printf \"\\043\") | sort -k 1
	ap = add -p # Add patches
	at = add -u # Add tracked files
	bdm = "!git branch --merged | grep -v '*' | xargs -n 1 git branch -d"
	ca = commit --amend
	cm = commit --message
	co = checkout
	cob = checkout -b
	cv = commit --verbose
	d = diff
	dc = diff --cached
	ir = !sh -c 'git rebase -i origin/${1-master}' -
	last = log -p -1
	lg = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	me = config user.name
	pul = pull
	rank = shortlog -sn --no-merges
	rb = rebase
	prum = pull --rebase upstream master
	rso = remote show origin
	s = status
	slog = log --stat
	st = status -sb
	today = !git log --since='12am' --committer=\"`git me`\"
	uc = reset --soft HEAD^
	uca = reset --hard HEAD^
	unstage = reset HEAD
[color]
	ui = auto
[core]
	editor = vim
	whitespace = warn
[user]
	email = eric@erictleung.com
	name = Eric Leung
[help]
	autocorrect = 1
[push]
	default = simple
