# quicker navigation
alias ..="cd .."
alias 2..="cd ../.."
alias 3..="cd ../../.."
alias 4..="cd ../../../.."
alias cd..="cd .." # account for misspelling

# shortcuts
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias doc="cd ~/Documents"

# git shortcuts
alias com="git commit -v" # COMmit
alias g="git"
alias ga="git add" # Git Add
alias gaa="git add -A" # Git Add All
alias gai="git add -i" # Git Add Interactive
alias gap="git add -p" # Git Add Patch
alias gat="git add -u" # Git Add Tracked
alias gaut="echo -e 'a\n*\nq\n' | git add -i" # Git Add UnTracked
alias gatcom="git add -u; git commit -v" # Git Add Tracked COMit
alias gbranch="git branch"
alias gcp="git cp"
alias gcb="git checkout -b" # Git Checkout Branch NEWBRANCHNAME
alias gd="git diff" # Git Difference
alias gitt="git" # Account for typos
alias gl="git log" # Git Log
alias gmv="git move"
alias gprom="git pull --rebase origin master"
alias gprum="git pull --rebase upstream master"
alias gpull="git pull"
alias gpush="git push"
alias gs="git status"

# detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
    colorflag="--color"
else # OS X `ls`
    colorflag="-G"
fi

# ls aliases
alias ls="ls -ltrh $colorflag" # make ls work like I want it
alias ll="ls -l ${colorflag}" # list files colorized in long format
alias la="ls -la ${colorflag}" # list all files colorized in long format
alias lsd="ls -l ${colorflag}" | grep --color=never '^d'"" # only directories
alias l.="ls -d .* ${colorflag}" # list hidden files
alias a="ll" # quick fast way to list files
alias l="ll" # being lazy again
alias sl="ls" # catch misspellings

# get feedback from user for these commands
alias cp="cp -vi" # prompt you when copying if you are going to overwrite
alias rm="rm -i" # prompt you if you really want to remove file
alias mv="mv -i" # prompt you if you are going to overwrite something

# find disk space hogs
alias ducks='du -cks * | sort -rn | head'

# find top 10 largest files
alias top10="find . -type f -exec ls -sh {} \; | sort -n -r | head -10"

# clear terminal screen with simple letter
alias c="clear"

# simple calculator with math support
alias bc="bc -l"

# nice echo of PATH
alias path='echo -e ${PATH//:/\\n}'

# exit terminal faster
alias e="exit"
alias x="exit"

# access history
alias h="history"

# export local exports if found
if [ -f ~/.aliases.local ]; then
    . ~/.aliases.local
fi
