$if mode=vi
    set keymap vi-command
    "gg": beginning-of-history
    "G": end-of-history
    set keymap vi-insert
    "jk": vi-movement-mode
$endif

# Make tab autocomplete regardless of case
set completion-ignore-case on

# List all matches in case multiple completions possible
set show-all-if-ambiguous on

# Display trailing slash for autocomplete symlinks
set mark-symlinked-directories on
